<h3>
    Looking to sell?.
    Post complete details of your house  to get started!
</h3>
<div class="container-fluid">
    <div class="row">
<form action="" method="post">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input class="form-control" type="text" id="title" name="title" value="10 Marla House"/>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input class="form-control" type="text" id="location" name="location" value="Sector C, Janiper Block, Bahria Town, Lahore"/>
            </div>
            <div class="mb-3">
                <label for="coveredArea" class="form-label">Covered Area</label>
                <input class="form-control" type="number" id="coveredArea" name="coveredArea" value="10"/>
            </div>
            <div class="mb-3">
                <label for="noBeds" class="form-label">No of Bedrooms</label>
                <input class="form-control" type="number" id="noBeds" name="noBeds" value="5"/>
            </div>
            <div class="mb-3">
                <label for="noFloors" class="form-label">No of Floors</label>
                <input class="form-control" type="number" id="noFloors" name="noFloors" value="2"/>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input class="form-control" type="number" id="price" name="price" value="41000000"/>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Describe about your Property</label>
                <input class="form-control" type="text" id="description" name="description" value="Fully Furnished House with lavish double lobby and state of the art architect design."/>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Post Add</button>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</form>
</div>
</div>