<div>
    Buying Page
</div>

<% for( let index = 0; index < estates.length; index++ ) { %>
<div class="product">
    <div class="col">
        <div class="card">
          <div class="card-header">
              <h5>Title: <%= estates[index].title %></h5>
          </div>
          <div class="card-body">
            <h5 class="card-title">Location: <%= estates[index].location %></h5>
            <h5 class="card-title">Covered Area: <%= estates[index].coveredArea %> M</h5>
            <h5 class="card-title">Price: <%= estates[index].price %></h5>
            
            <form action="" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-secondary">Delete</button>
            </form>
          </div>
        </div>
      </div>
</div>
<% } %>